<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiangwang.soeasy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/soeasy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsActivity"
            android:alwaysRetainTaskState="True"
            android:label="@string/title_news" >
        </activity>
        <activity
            android:name=".activity.AccountsActivity"
            android:label="@string/title_accounts" >
        </activity>
        <activity
            android:name=".activity.AccountsAddActivity"
            android:label="@string/title_accounts_add"
            android:parentActivityName=".activity.AccountsActivity" >
        </activity>
        <activity
            android:name=".activity.AccountsDetailActivity"
            android:label="@string/title_accounts_detail"
            android:parentActivityName=".activity.AccountsActivity" >
        </activity>
        <activity
            android:name=".activity.AccountsAuthActivity"
            android:label="@string/title_accounts_auth"
            android:parentActivityName=".activity.AccountsAddActivity" >
        </activity>
    </application>

</manifest>