<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiangwang.soeasy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.qiangwang.soeasy.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qiangwang.soeasy.activity.NewsActivity"
            android:label="@string/title_news"
            android:alwaysRetainTaskState="True"
            android:parentActivityName="com.qiangwang.soeasy.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.qiangwang.soeasy.activity.AccountsActivity"
            android:label="@string/title_accounts"
            android:parentActivityName="com.qiangwang.soeasy.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.qiangwang.soeasy.activity.AccountsAddActivity"
            android:label="@string/title_accounts_add"
            android:parentActivityName="com.qiangwang.soeasy.activity.AccountsActivity" >
        </activity>
        <activity
            android:name="com.qiangwang.soeasy.activity.AccountsAuthActivity"
            android:label="@string/title_accounts_auth"
            android:parentActivityName="com.qiangwang.soeasy.activity.AccountsAddActivity" >
        </activity>
    </application>

</manifest>